.login{
  width: 50%;
  margin-left: 20%;
}

.main{
  background: gray;
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-top: ;
  color: white;
  background-image: url("./python3_test.png");
}

.contents{
  font-size: 20px;
  color: white;
}

table, td{
  border: 1px solid #000000;
}

.footer{
  width: 100%;
}

.info{
  text-align: center;
}
